doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; width: 40px !important; height: 40px !important;}
      footer { margin: 35px 0 15px 0; text-align: center; }
      main#main {margin-top: 50px !important;}
  body
    block content
