doctype html
html
  head
    title= 'Crypto Market App'
    link(rel="icon", type="image/png", href='/images/crypto_favicon.png')
    meta(property="og:title", content="Crypto Market App")
    meta(property="og:url", content="https://cryptomarketapp88.herokuapp.com/")
    meta(property="og:site_name", content="Crypto Market App")
    meta(property="og:description", content="Crypto Market App")
    meta(property="og:image", content="/images/crypto_favicon.png")
    meta(meta property="og:image:width" content="1200")
    meta(meta property="og:image:height" content="628")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; width: 40px !important; height: 40px !important;}
      footer { margin-top: 35px; margin-bottom: 50px; text-align: center; }
      main#main {margin-top: 50px !important; margin-bottom: 50px !important;}
  body
    block content
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='/javascripts/index.js')
